
.italic {
	font-style:italic;
}

/* Sticky footer styles
-------------------------------------------------- */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Pad bottom by footer height */
  padding: 70px 0 70px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
}

#footer img {
  max-height:30px;
  margin: 10px;
}

#footer a {
  margin: 10px;
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 900px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}


/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 512px) {
#footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
}

/* Collapsable panel */
.panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";    
    float: right; 
    color: grey; 
}
.panel-heading a.collapsed:after {
    content: "\e080";
}
